<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="((isHandset$ | async) || !menuActive()) ? 'dialog' : 'navigation'"
      [mode]="((isHandset$ | async) || !menuActive()) ? 'over' : 'side'"
      [opened]="((isHandset$ | async) || !menuActive()) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <mat-divider></mat-divider>
      <p mat-subheader>Form Control</p>
      <a mat-list-item routerLink="form-control/autocomplete" routerLinkActive="active">Autocomplete</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="menuActive()" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angularAdmin</span>
      <span class="fill-remaining-space"></span>
      <button mat-button routerLink="/login" routerLinkActive="active">Log in</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
